<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AWS_PUBLIC_KEY" value="not-set" />
    <add key="AWS_PRIVATE_KEY" value="not-set" />
    <add key="AWS_URI_ENDPOINT" value="http://sdb.amazonaws.com/" />
    <add key="MinimumWorkerThreads" value="25" />
    <add key="MinimumAsyncIOThreds" value="25" />
    <add key="MaximumWorkerThreads" value="100" />
    <add key="MaximumAsyncIOThreads" value="100" />
    <add key="DefaultConnectionLimit" value="12" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="90" minFreeThreads="176" minLocalRequestFreeThreads="152" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>