<?xml version="1.0"?>
<template:link 
    xmlns:template="http://atomictalk.org/page/view/template"
    xmlns="http://www.w3.org/1999/xhtml">
    <a href="@@base:uri@@">@@base:label@@</a>
</template:link>
