[submodule "src/module/redis"]
	path = src/module/redis
	url = git://github.com/antirez/redis.git
[submodule "src/module/zeromq"]
	path = src/module/zeromq
	url = git://github.com/zeromq/zeromq2.git
[submodule "src/module/clrzmq"]
	path = src/module/clrzmq
	url = git://github.com/zeromq/clrzmq.git
[submodule "src/module/manos"]
	path = src/module/manos
	url = git://github.com/jacksonh/manos.git
[submodule "src/module/fu-sharp"]
	path = src/module/fu-sharp
	url = git://github.com/chakrit/fu-sharp.git
[submodule "src/module/AWSSDKforNET-extended"]
	path = src/module/AWSSDKforNET-extended
	url = git://github.com/mdavid/AWSSDKForNet-extended.git
[submodule "src/module/Rx.NET"]
	path = src/module/Rx.NET
	url = git://github.com/mdavid/Rx.NET.git
[submodule "src/module/protobuf-net"]
	path = src/module/protobuf-net
	url = git://github.com/mdavid/protobuf-net.git
[submodule "src/module/MCloud"]
	path = src/module/MCloud
	url = git://github.com/mdavid/MCloud.git
[submodule "src/module/DarwinStreamingServer-Linux"]
	path = src/module/DarwinStreamingServer-Linux
	url = git://github.com/mdavid/DarwinStreamingServer-Linux.git
[submodule "src/module/jquery"]
	path = src/module/jquery
	url = git://github.com/jquery/jquery.git
[submodule "src/module/jquery-ui"]
	path = src/module/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "src/module/jquery-mobile"]
	path = src/module/jquery-mobile
	url = git://github.com/jquery/jquery-mobile.git
[submodule "src/module/wikidot"]
	path = src/module/wikidot
	url = git://github.com/gabrys/wikidot.git
[submodule "src/module/dotnetopenid"]
	path = src/module/dotnetopenid
	url = git://github.com/AArnott/dotnetopenid.git
[submodule "src/module/taglib-sharp"]
	path = src/module/taglib-sharp
	url = git://github.com/mono/taglib-sharp.git
[submodule "src/module/monotorrent"]
	path = src/module/monotorrent
	url = git://github.com/mono/monotorrent.git
[submodule "src/module/node.js"]
	path = src/module/node.js
	url = git://github.com/ry/node.git
[submodule "src/module/GitSharp"]
	path = src/module/GitSharp
	url = git://github.com/henon/GitSharp.git
[submodule "src/module/closure-library"]
	path = src/module/closure-library
	url = git://github.com/mdavid/closure-library.git
[submodule "src/module/sharpssh"]
	path = src/module/sharpssh
	url = git://github.com/mdavid/sharpssh.git
[submodule "src/module/libev-sharp"]
	path = src/module/libev-sharp
	url = git://github.com/jacksonh/libev-sharp.git
[submodule "src/module/apachai"]
	path = src/module/apachai
	url = git://github.com/garuma/apachai.git
[submodule "src/module/DDay.iCal"]
	path = src/module/DDay.iCal
	url = git://github.com/mdavid/DDay.iCal.git
[submodule "src/module/ironlanguages"]
	path = src/module/ironlanguages
	url = git://github.com/IronLanguages/main.git
[submodule "src/module/servicestack/ServiceStack.Examples"]
	path = src/module/servicestack/ServiceStack.Examples
	url = https://github.com/ServiceStack/ServiceStack.Examples.git
[submodule "src/module/servicestack/ServiceStack.Extras"]
	path = src/module/servicestack/ServiceStack.Extras
	url = https://github.com/ServiceStack/ServiceStack.Extras.git
[submodule "src/module/servicestack/ServiceStack.Redis"]
	path = src/module/servicestack/ServiceStack.Redis
	url = https://github.com/ServiceStack/ServiceStack.Redis.git
[submodule "src/module/servicestack/ServiceStack.Text"]
	path = src/module/servicestack/ServiceStack.Text
	url = https://github.com/ServiceStack/ServiceStack.Text.git
[submodule "src/module/servicestack/ServiceStack.RedisWebServices"]
	path = src/module/servicestack/ServiceStack.RedisWebServices
	url = https://github.com/ServiceStack/ServiceStack.RedisWebServices.git
[submodule "src/module/servicestack/ServiceStack.Benchmarks"]
	path = src/module/servicestack/ServiceStack.Benchmarks
	url = https://github.com/ServiceStack/ServiceStack.Benchmarks.git
[submodule "src/module/servicestack/ServiceStack.Logging"]
	path = src/module/servicestack/ServiceStack.Logging
	url = https://github.com/ServiceStack/ServiceStack.Logging.git
[submodule "src/module/servicestack/ServiceStack.OrmLite"]
	path = src/module/servicestack/ServiceStack.OrmLite
	url = https://github.com/ServiceStack/ServiceStack.OrmLite.git
[submodule "src/module/soundmanager2"]
	path = src/module/soundmanager2
	url = git://github.com/scottschiller/SoundManager2.git
[submodule "src/module/jquery-soundmanager"]
	path = src/module/jquery-soundmanager
	url = git://github.com/adriengibrat/jQuery-SoundManager.git
[submodule "src/module/servicestack/ServiceStack"]
	path = src/module/servicestack/ServiceStack
	url = git://github.com/ServiceStack/ServiceStack.git
[submodule "src/module/facebook/csharp-sdk"]
	path = src/module/facebook/csharp-sdk
	url = git://github.com/facebook/csharp-sdk.git
[submodule "src/module/simplegeo-dotnet"]
	path = src/module/simplegeo-dotnet
	url = git://github.com/simplegeo/simplegeo-dotnet.git
[submodule "src/module/mongodb/mongo-csharp-driver"]
	path = src/module/mongodb/mongo-csharp-driver
	url = git://github.com/mongodb/mongo-csharp-driver.git
[submodule "src/module/mongodb/mongo"]
	path = src/module/mongodb/mongo
	url = git://github.com/mongodb/mongo.git
[submodule "src/module/apache/log4net"]
	path = src/module/apache/log4net
	url = git://git.apache.org/log4net.git
[submodule "src/module/apache/cassandra"]
	path = src/module/apache/cassandra
	url = git://git.apache.org/cassandra.git
[submodule "src/module/fluentcassandra"]
	path = src/module/fluentcassandra
	url = git://github.com/managedfusion/fluentcassandra.git
[submodule "src/module/cassandra"]
	path = src/module/cassandra
	url = git://git.apache.org/cassandra.git
[submodule "src/module/node-uuid"]
	path = src/module/node-uuid
	url = https://github.com/broofa/node-uuid.git
[submodule "src/module/servicestack/ServiceStack.Contrib"]
	path = src/module/servicestack/ServiceStack.Contrib
	url = git://github.com/ServiceStack/ServiceStack.Contrib.git
[submodule "src/module/servicestack/ServiceStack.Owin"]
	path = src/module/servicestack/ServiceStack.Owin
	url = git://github.com/ServiceStack/ServiceStack.Owin.git
