<?xml version="1.0"?>
<!--
  COPYRIGHT: (c) 2006 by M. David Peterson and Sylvain Hellegouarch
  LICENSE: The code contained in this file is licensed under The MIT License. 
  Please see http://www.opensource.org/licenses/mit-license.php for specific detail.
-->
<configuration>
  <configSections>
    <sectionGroup name="Xameleon.WebApp">
      <section name="xameleon" type="Xameleon.Configuration.AspNetXameleonConfiguration,Xameleon"/>
      <section name="memcached" type="Xameleon.Configuration.AspNetMemcachedConfiguration,Xameleon"/>
      <section name="aws" type="Xameleon.Configuration.AspNetAwsConfiguration,Xameleon"/>
      <section name="bungee" type="Xameleon.Configuration.AspNetBungeeAppConfiguration,Xameleon"/>
    </sectionGroup>
  </configSections>
  <Xameleon.WebApp>
    <xameleon debugMode="no" useMemcached="yes" defaultEngine="Saxon">

      <baseSettings baseXsltName="base" objectHashKey="1234567890"/>
      <preCompiledXslt base-uri="~">
        <add name="base" useAsBaseXslt="yes" base-uri="~" uri="/transform/base.xslt"/>
        <add name="base-result-document" base-uri="~" uri="/transform/base.xslt" baseOutputUri="~"/>
        <add name="base-client-xslt" base-uri="~" uri="/transform/base.xslt" initialMode="client-xslt"/>
        <!--
        <add name="base-blip-message" base-uri="~" uri="/transform/base.xslt" initialTemplate="base-blip-message"/>
        -->
      </preCompiledXslt>
      <globalXsltParams>
        <add name="google.maps.key" select="YOUR.GOOGLE.MAPS.KEY"/>
      </globalXsltParams>
      <sessionXsltParams/>
      <httpContextXsltParams />
      <requestXsltParams />
    </xameleon>
    <aws>
      <awsS3 defaultBucket="YOUR.DEFAULT.BUCKET" defaultKeyPrefix="YOUR.DEFAULT.KEY.PREFIX">
        <add name="foo" key="bar" value="baz" />
      </awsS3>
      <awsKeyCollection externalFile="/path/to/external/key/collection/file.config">
        <add name="aws-one" public-key="YOUR-FIRST-AWS-PUBLIC-KEY" private-key="YOUR-FIRST-AWS-PRIVATE-KEY"/>
        <add name="aws-two" public-key="YOUR-SECOND-AWS-PUBLIC-KEY" private-key="YOUR-SECOND-AWS-PRIVATE-KEY"/>
      </awsKeyCollection>
    </aws>
    <bungee>
      <application defaultAppVersion="YOUR.DEFAULT.APP.ID">
        <add name="YOUR.BUNGEE.APP.NAME" version="YOUR.BUNGEE.APP.VERSION" deployID="YOUR.DEPLOY.ID" deployURL="YOUR.DEPLOY.URL" z="YOUR.Z" elementID="ELEMENT.ID.TO.RENDER.APP.IN" />
      </application>
    </bungee>
    <memcached useCompression="no">
      <poolConfig
        initConnections="5"
        minConnections="5"
        maxConnections="1024"
        socketConnectTimeout="1000"
        socketConnect="3000"
        maintenanceSleep="30"
        failover="true"
        nagle="true"/>
      <server>
        <add name="localhost" ip="127.0.0.1" port="11211" />
      </server>
    </memcached>
  </Xameleon.WebApp>
  <appSettings>
    <add key="MonoServerDefaultIndexFiles"
        value="service.op,default.omx,index.xml,index.aspx,default.aspx,index.html"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="GET,HEAD" path="*.xml" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.atom" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.omx" type="Xameleon.HttpHandler.XameleonHttpAsyncHandler,Xameleon"/>
      <add verb="GET,HEAD,PUT,POST,DELETE" path="*.op" type="Xameleon.HttpHandler.XameleonHttpAsyncHandler,Xameleon"/>
    </httpHandlers>
    <!-- <httpModules>
      <add name="AsyncRequestLogHttpModule" type="Xameleon.HttpModule.AsyncRequestLogHttpModule,Xameleon" />
    </httpModules> -->
    <sessionState mode="Off"/>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <compilation debug="true" />
    <httpRuntime executionTimeout="300" />
  </system.web>
  <!-- <system.net>
    <connectionManagement>
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net> -->
</configuration>
