<?xml version="1.0"?>
<!--
  COPYRIGHT: (c) 2006 by M. David Peterson
  LICENSE: The code contained in this file is licensed under the Creative Commons Attribution-Share Alike 3.0. 
  Please see http://creativecommons.org/licenses/by-sa/3.0/ for specific detail.
-->
<configuration>
    <configSections>
        <sectionGroup name="Xameleon.WebApp">
            <section name="xameleon" type="Nuxleus.Configuration.AspNetXameleonConfiguration,Nuxleus.Configuration" />
            <section name="memcached" type="Nuxleus.Configuration.AspNetMemcachedConfiguration,Nuxleus.Configuration" />
            <section name="queueserver" type="Nuxleus.Configuration.AspNetQueueServerConfiguration,Nuxleus.Configuration" />
        </sectionGroup>
    </configSections>
    <Xameleon.WebApp>
        <xameleon debugMode="no" useMemcached="yes" defaultEngine="Saxon" objectHashKey="1234567890">
            <baseSettings baseXsltName="base" />
            <preCompiledXslt base-uri="~">
                <!-- 
        <add name="base" useAsBaseXslt="yes" base-uri="~" uri="/service/transform/base.xslt"/> 
        -->
                <add useAsBaseXslt="yes" name="precompile-atomictalk" base-uri="~" uri="/service/transform/atomictalk.base.xslt" />
            </preCompiledXslt>
            <globalXsltParams />
            <sessionXsltParams />
            <httpContextXsltParams />
            <requestXsltParams />
        </xameleon>
        <memcached useCompression="no">
            <poolConfig initConnections="5" minConnections="5" maxConnections="1024" socketConnectTimeout="1000" socketConnect="3000"
                maintenanceSleep="30" failover="true" nagle="true" />
            <server>
                <add name="localhost" ip="127.0.0.1" port="11211" />
            </server>
        </memcached>
        <queueserver ip="127.0.0.1" port="9876" poolSize="5" threshold="10" />
    </Xameleon.WebApp>
    <appSettings>
        <add key="MonoServerDefaultIndexFiles"
            value="index.page,service.op,default.omx,index.xml,index.aspx,default.aspx,index.html,default.asmx" />
    </appSettings>
    <system.web>
        <httpHandlers>
            <add verb="GET,HEAD" path="/service/session/validate-request/*.op"
                type="Nuxleus.Web.HttpHandler.NuxleusHttpAsyncRequestValidationHandler,Nuxleus.Web" />
            <add verb="*" path="/service/atompub/add/*.op" type="Nuxleus.Web.HttpHandler.NuxleusHttpAsyncSuggestionFormHandler,Nuxleus.Web" />
            <add verb="*" path="/service/debate/add/*.op" type="Nuxleus.Web.HttpHandler.NuxleusHttpAsyncCreateNewAtomEntryHandler,Nuxleus.Web" />
            <add verb="*" path="/service/pub/vote/*.op" type="Nuxleus.Web.HttpHandler.NuxleusHttpAsyncAtomEntryRatingServiceHandler,Nuxleus.Web" />
            
            <add verb="*" path="/service/session/*.op" type="Nuxleus.Web.HttpHandler.NuxleusHttpAsyncSuggestionFormHandler,Nuxleus.Web" />
            <add verb="*" path="*.op" type="Nuxleus.Web.HttpHandler.NuxleusHttpAsyncXmlServiceOperationHandler,Nuxleus.Web" />
            <add verb="GET,HEAD" path="*.page" type="Nuxleus.Web.HttpHandler.NuxleusHttpAsyncXmlServiceOperationHandler,Nuxleus.Web" />
        </httpHandlers>
        <httpModules>
            <remove name="FormsAuthentication" />
            <remove name="OutputCache" />
            <remove name="Session" />
            <remove name="WindowsAuthentication" />
            <remove name="FormsAuthentication" />
            <remove name="PassportAuthentication" />
            <remove name="UrlAuthorization" />
            <remove name="FileAuthorization" />
            <!-- <add name="AsyncRequestLogHttpModule" type="Xameleon.HttpModule.AsyncRequestLogHttpModule,Xameleon" /> -->
        </httpModules>
        <sessionState mode="Off" />
        <authentication mode="None" />
        <customErrors mode="Off" />
        <compilation debug="true" />
        <httpRuntime executionTimeout="90" />
    </system.web>
</configuration>
