<?xml version="1.0" encoding="utf-8"?>
<!--   
  For more information on how to configure your ASP.NET application, please visit   
  http://go.microsoft.com/fwlink/?LinkId=152368                    
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=|DataDirectory|aspnet.db;Create=true;Version=3" providerName="Mono.Data.SqliteClient" />
    <add name="UserAuth" connectionString="Data Source=|DataDirectory|userauth.db;Create=true;Version=3" providerName="Mono.Data.SqliteClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- servicestack oauth config -->
    <add key="oauth.twitter.ConsumerKey" value="XHWeB4oHGIGQourqnfKDg" />
    <add key="oauth.twitter.ConsumerSecret" value="SKTDkKabQkHfvSvLgqu4B35EUgD2Ly1EG1Qigs64" />
    <add key="oauth.twitter.RedirectUrl" value="http://nuxleus.net.local/friends" />
    <add key="oauth.twitter.CallbackUrl" value="http://nuxleus.net.local/api/auth/twitter" />
    <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access" />
    <add key="oauth.facebook.AppId" value="386890348011351" />
    <add key="oauth.facebook.AppSecret" value="i0e4f4799e80111628459a182d2ce3b15" />
    <add key="oauth.facebook.RedirectUrl" value="http://nuxleus.net.local/friends" />
    <add key="oauth.facebook.CallbackUrl" value="http://nuxleus.net.local/api/auth/facebook" />
    <add key="RecreateAuthTables" value="False" />
    <add key="AdminUserNames" value="test@amp.fm" />
  </appSettings>
  <location path="api">
    <system.web>
      <customErrors mode="Off" />
      <httpHandlers>
        <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>
    <!-- Required for IIS 7.0 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.7.0" newVersion="4.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
