body {
    color:#333;
    background: #FFF;
}
h2 {
    color:#993300;
}
h1 {
    color:#000;
}
a {
    color:#993300;
}
a:hover {
    color:#996600;
}
#top-nav {
    border-top:3px #000 solid;
    border-bottom:0;
    background-color: #FFF;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}
#footer {
    border-bottom:3px solid #000;
}
#control-center {
    background-color:#FFF;
    border-top:1px solid #333;
}
#info {
    background: #FFF url(/images/NYC-Subway-1-BW_JakeJ.jpg) 50% 50% no-repeat;
}
#instance > ul {
    background-color:#FFF;
}
#content h2 {
    color:#000;
    border-bottom:1px solid #000;
    margin-top:0;
}
#h4 {
    margin-left:0;
    padding-left:0;
}
#content h4 > a {
    color: #CC6600;
    margin-left:0;
    padding-left:0;
}
#center {
    border-right:1px dotted #333;
    border-left:1px dotted #333;
}
#info {
    margin-bottom:1px;
}
#top-login {
    background-color:#6699CC;
    background-color:#CCC;
    border-top:1px solid #FFF;
    border-bottom:1px solid #FFF;
    padding:2px 0;
}
#top-login a {
    padding:2px .1em;
    background-color:inherit;
    font-size:small;
    color:#FFF;
}
#top-login li {
    padding:2px 0 2px .25em;
    background-color:#999;
    border-left:1px solid #FFF;
    margin:0;
}
#top-login li:last-child {
    padding-right:.25em;
}
#top-login li.selected, #top-login li.selected a, #top-login li.selected:hover, #top-login li.selected:hover a {
    background-color:#333;
    color:#FFF;
}
#top-login li:hover {
    background-color:#FF9900;
    color:#FF9900;
}
#top-login li:hover a {
    background-color:#FF9900;
    color:#FFF;
}
#top-sub-nav {
    padding:2px 0;
    border-top:1px dotted #333;
}
#top-sub-nav a {
    margin:0;
    background-color:inherit;
    font-size:small;
}
#top-sub-nav li {
    padding:1px 0;
    background-color:inherit;
    background-color:#FFF;
}
#search-form {
    display:inline;
}