#sub-nav {
 margin-top:0em;
 margin-bottom: 0em; 
}
#sub-nav > ul {
  padding:.15em 0;
}
#sub-nav-menu a {
  padding:.1em .5em;
  font-weight:600;
}
#sub-nav-menu a:hover {
padding:.25em .5em .1em;
}
#view {
  padding:.1em .35em;
}
#view > ul > li > a {
  padding:.1em .35em;
}
.menu {
 padding:.1em 0 .15em; 
}
.menu a {
  padding:.2em .5em .1em;
}
.menu a:hover {
  padding:.25em .5em .18em;
}
.menu li.selected a {
  padding:.4em .5em .35em;
  margin-right:.25em;
}
#top-nav-menu li.selected a {
  padding-top:2px;
  padding-bottom:2px;
}
#top-nav > ul {
  padding:.1em 0;
}
