<?xml version="1.0"?>
<!--
  COPYRIGHT: (c) 2006 by M. David Peterson and Sylvain Hellegouarch
  LICENSE: The code contained in this file is licensed under The MIT License. 
  Please see http://www.opensource.org/licenses/mit-license.php for specific detail.
-->
<configuration>
    <appSettings>
        <add key="MonoServerDefaultIndexFiles" value="service.op,index.aspx,default.aspx,default.asmx"/>
    </appSettings>
    <system.web>
        <httpHandlers>
            <add verb="*" path="/service/process-image/get-status/service.op" type="IAct.Web.HttpHandler.NuxleusHttpAsyncImageResizeOperationStatusHandler,Nuxleus.Web"/>
            <add verb="*" path="*.op" type="IAct.Web.HttpHandler.NuxleusHttpAsyncImageResizeOperationHandler,Nuxleus.Web"/>
        </httpHandlers>
        <httpModules>
            <remove name="FormsAuthentication" />
            <remove name="OutputCache" />
            <remove name="Session" />
            <remove name="WindowsAuthentication" />
            <remove name="FormsAuthentication" />
            <remove name="PassportAuthentication" />
            <remove name="UrlAuthorization" />
            <remove name="FileAuthorization" />
            <!-- <add name="AsyncRequestLogHttpModule" type="Xameleon.HttpModule.AsyncRequestLogHttpModule,Xameleon" /> -->
        </httpModules>
        <sessionState mode="Off"/>
        <authentication mode="None"/>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
        <httpRuntime executionTimeout="15"/>
    </system.web>
</configuration>
