<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nuxleus.Web.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nuxleus.Web.Services.Properties.Settings>
            <setting name="Nuxleus_Web_Services_Aws_Ec2_AmazonEC2" serializeAs="String">
                <value>https://ec2.amazonaws.com/</value>
            </setting>
        </Nuxleus.Web.Services.Properties.Settings>
    </applicationSettings>
</configuration>