<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
    </sectionGroup>
    <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />
  </configSections>
  <appSettings>
    <add key="AWS_PUBLIC_KEY" value="not-set" />
    <add key="AWS_PRIVATE_KEY" value="not-set" />
    <add key="AWS_URI_ENDPOINT" value="http://sdb.amazonaws.com/" />
    <add key="MinimumWorkerThreads" value="25" />
    <add key="MinimumAsyncIOThreds" value="25" />
    <add key="MaximumWorkerThreads" value="100" />
    <add key="MaximumAsyncIOThreads" value="100" />
    <add key="DefaultConnectionLimit" value="12" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="90" minFreeThreads="176" minLocalRequestFreeThreads="152" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <enyim.com>
    <log factory="Enyim.Caching.Log4NetFactory, Enyim.Caching.Log4NetAdapter" />
    <log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />
  </enyim.com>
  <membase>
    <!-- 
			Please read the documentation first:
				http://github.com/enyim/EnyimMemcached/wiki/MembaseClient-configuration

			Use this section as a template if you're connecting to Membase Servers.
			Note: you must have the top-level membase section if you're using the parameterless constructor of MembaseClient.
		-->
    <servers bucket="enyim" bucketPassword="password" retryCount="2" retryTimeout="00:00:02">
      <!--
				Provide at least 2-3 urls from your cluster. 
				Usually you only need to change the host, except when connecting to older versions.
				Membase uses port 8091, while the NorthScale Memcached Server (1.0.3) uses 8080
			-->
      <add uri="http://192.168.2.202:8091/pools/default" />
      <add uri="http://192.168.2.200:8091/pools/default" />
    </servers>
    <!-- the client waits deadTmimeout time to reconnect to the pool when all the specified urls are down -->
    <socketPool connectionTimeout="00:00:10" deadTimeout="00:00:10" />
  </membase>
</configuration>