<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AWS_PUBLIC_KEY" value="not-set" />
        <add key="AWS_PRIVATE_KEY" value="not-set" />
        <add key="AWS_URI_ENDPOINT" value="http://sdb.amazonaws.com/" />
        <add key="MinimumWorkerThreads" value="25" />
        <add key="MinimumAsyncIOThreds" value="25" />
        <add key="MaximumWorkerThreads" value="100" />
        <add key="MaximumAsyncIOThreads" value="100" />
        <add key="DefaultConnectionLimit" value="12" />
    </appSettings>
    <system.web>
        <httpRuntime executionTimeout="90" minFreeThreads="176" minLocalRequestFreeThreads="152" />
    </system.web>
</configuration>
